{
	"mcpServers": {
		"context7": {
			"url": "https://mcp.context7.com/mcp",
			"headers": {
				"CONTEXT7_API_KEY": {{ (bitwardenFields "item" "context7").api_key.value | quote }}
			}
		},
		"n8n-mcp": {
			"command": "npx",
			"args": ["n8n-mcp"],
			"env": {
				"MCP_MODE": "stdio",
				"LOG_LEVEL": "error",
				"DISABLE_CONSOLE_OUTPUT": "true",
				"N8N_API_URL": "https://n8n.420.gal",
				"N8N_API_KEY": {{ (bitwardenFields "item" "n8n").api_key.value | quote }}
			}
		},
    "chrome-devtools": {
      "command": "npx",
      "args": ["chrome-devtools-mcp@latest"]
    }
	}
}
