# chezmoi .yaml or .toml or .json file is a configuration file for chezmoi
# ~/.config/chezmoi/chezmoi.yaml ではエラーになる
# ~/.chezmoi.yaml.tmpl に設定を記述するとエラーが出ない

# sourceDir: ~/.dotfiles
# git:
#   autoPush: true
edit:
  command: "co"
  args:
    "--wait"

