{{/* 対話型シークレット系フラグ */}}
{{- $bitwarden := false -}}{{/* bitwarden のパスワードを取得する */}}
{{- $age := false -}}{{/* age 暗号化 */}}
{{- $github := false -}}{{/* github ユーザー名を設定する */}}
{{- $ssh := false -}}{{/* ssh AuthorizedKeys をgithubから設定する */}}

{{/* OSの検出 */}}
{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* github ユーザー名の設定 */}}
{{- $name := "budybye" -}}
{{- $email := "101wayout@gmail.com" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and dev container */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS") (env "DOCKER") (env "GITHUB_ACTIONS") (eq .chezmoi.username "root" "ubuntu" "dev" "vscode" "runner") -}}
{{- $bitwarden = false -}}
{{- $age = false -}}
{{- $email = "null" -}}
{{- end -}}

{{/* 環境の検出 */}}
{{- if eq (env "GITHUB_ACTIONS") "true" -}}
    {{- $name = "runner" -}}
    {{- $email = "null" -}}
    {{- $github = true -}}
    {{- $ssh = false -}}
{{- else if eq (env "CODESPACES") "true" -}}
    {{- $name = "codespaces" -}}
    {{- $email = "null" -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else if eq (env "REMOTE_CONTAINERS") "true" -}}
    {{- $name = "dev" -}}
    {{- $email = "null" -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else if eq (env "DOCKER") "true" -}}
    {{- $name = "docker" -}}
    {{- $email = "null" -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else if eq .chezmoi.username "ubuntu" -}}
    {{- $name = "budybye" -}}
    {{- $email = "101wayout@gmail.com" -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else if eq .chezmoi.username "hotmilk" -}}
    {{- $email = (bitwarden "item" "gh").login.password -}}
    {{- $name = (bitwarden "item" "gh").login.username -}}
    {{- $bitwarden = true -}}
    {{- $age = true -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else if eq .chezmoi.username "budybye" -}}
    {{- $name = .chezmoi.username -}}
    {{- $email = "101wayout@gmail.com" -}}
    {{- $bitwarden = true -}}
    {{- $age = true -}}
    {{- $github = true -}}
    {{- $ssh = true -}}
{{- else -}}
    {{- $name = .chezmoi.username -}}
    {{- $email = "null" -}}
    {{- $bitwarden = false -}}
    {{- $age = false -}}
    {{- $github = false -}}
    {{- $ssh = true -}}
{{- end -}}

# シンボリックリンクを作成する
mode = "symlink"

# sourceDir = "~/dotfiles"

# ファイルのパーミッションを変更する
# umask = 0o22

scriptTempDir = "~/tmp"

{{/* age 暗号化 */}}
{{ if ne (env "GITHUB_ACTIONS") "true" }}

encryption = "age"
[age]
    identity = "~/config/chezmoi/key.txt"
    recipients = "age1nvdw6x8addcnfwsa26ed8vz7yv8y9425utujnsy7tcj64qs2ddasl2mphg"
    passphrase = true
    symmetric = true

{{ end }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    osid = {{ $osID | quote }}
    bitwarden = {{ $bitwarden }}
    age = {{ $age }}
    github = {{ $github }}
    ssh = {{ $ssh }}

[git]
    autoPush = false
    autoCommit = false
    autoAdd = false

[github]
    refreshPeriod = "12h"

[edit]
    command = "vim"
    # command = "code"
    # commandArgs = ["--wait"]

[sctiptEnv]
    SSS = "SouthSideSound"
