# chezmoi .yaml or .toml or .json file is a configuration file for chezmoi
# dotfiles/.chezmoi.yaml.tmpl に設定を記述すると反映される

# tmpl で参照する変数
data:

# codespaces の場合は codespaces として扱う
# runner の場合は runner として扱う
# Mac の場合は Mac として扱う

{{- if eq (env "CODESPACES") "true" }}
  sourceDir: "~/dotfiles"
  name: "codespaces"
  email: "null"

{{ else if eq .chezmoi.username "runner" }}
  sourceDir: "/home/runner/work/dotfiles/dotfiles"
  name: "runner"
  email: "null"

{{ else if eq .chezmoi.username "hotmilk" }}
  sourceDir: "/Users/hotmilk/.local/share/chezmoi"
  email: {{ (bitwarden "item" "gh").login.password | quote }}
  name: {{ (bitwarden "item" "gh").login.username | quote }}

{{- else }}{{/* Mac, runner, codespaces 以外 */}}
  sourceDir: {{ .chezmoi.sourceDir | quote }}
  name: "budybye"
  email: "101wayout@gmail.com"

{{- end }}

git:
  autoPush: false

edit:
  command: "co"
  args:
    "--wait"
