[".config/vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"

# ["data/ipfs/logo.png"]
#     type = "file"
#     url = "https://bob.bloclaat.com/logo.png"
#     refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}

[".local/share/themes/WhiteSur-gtk-theme-cinnamon-xfce"]
    type = "archive"
    url = "https://github.com/CoolAller/WhiteSur-gtk-theme-cinnamon-xfce/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# [".local/share/themes/WhiteSur-gtk-theme"]
#     type = "archive"
#     url = "https://github.com/vinceliuice/WhiteSur-gtk-theme/archive/refs/heads/master.zip"
#     exact = true
#     stripComponents = 1
#     refreshPeriod = "168h"

[".local/share/icons/WhiteSur-icon-theme"]
    type = "archive"
    url = "https://github.com/vinceliuice/WhiteSur-icon-theme/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/backgrounds/WhiteSur-wallpapers"]
    type = "archive"
    url = "https://github.com/vinceliuice/WhiteSur-wallpapers/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/fonts/HackGenNerd"]
    type = "archive"
    url = "https://github.com/yuru7/HackGen/archive/refs/tags/v2.9.0.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/fonts/RobotoMonoJP"]
    type = "archive"
    url = "https://github.com/mjun0812/RobotoMonoJP/archive/refs/tags/v5.0.0.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ end }}
