# non scope setting, gh late limit
MISE_GITHUB_TOKEN=ghp...

RDP_HOST=
RDP_PORT=

RPI_HOST=
RIP_PORT=

ALLTHATNODE_API=
# XRPL_SERVER="https://xrp-mainnet.g.allthatnode.com/full/json_rpc/${ALLTHATNODE_API}"
XRPL_SERVER=https://xrpl.ws

EMDASH_HOOK_PORT=
EMDASH_HOOK_TOKEN=
EMDASH_PTY_ID=
