age           latest
bitwarden     latest
chezmoi       latest
duckdb        latest
elasticsearch latest
fastfetch     latest
gh            latest
hadolint      latest
infracost     latest
jq            latest
