#! /usr/bin/env bash

# chezmoi apply が完了したら実行される
echo "run_after_6_check.sh.tmpl"
echo "--------------------------------"
echo "Chezmoi apply completed!!"
echo "USER: $(whoami)"
echo "SHELL: ${SHELL}"
echo "--------------------------------"
echo "PATH ..."
echo "${PATH}" | tr ':' '\n'
echo "--------------------------------"
echo "File check start!!"
echo "pwd: $(pwd)"
echo "SourceDir: {{.dotfilesDir | quote }}"
tree {{ .dotfilesDir }}
echo "--------------------------------"
echo "${HOME}"
ls -la "${HOME}"
echo "--------------------------------"
echo "${HOME}/data"
ls -la "${HOME}/data"
echo "--------------------------------"
tree "${HOME}/.config"
echo "--------------------------------"
echo "${HOME}/.ssh"
ls -la "${HOME}/.ssh"
echo "--------------------------------"
echo "${HOME}/.local/bin"
ls -la "${HOME}/.local/bin"
echo "--------------------------------"
tree -L 3 "${HOME}/.local/share"
echo "--------------------------------"

{{ if ne .chezmoi.os "linux" -}}
    tree ${HOME}/.local/share/themes
    echo "--------------------------------"
    tree ${HOME}/.local/share/fonts
    echo "--------------------------------"
    tree ${HOME}/.local/share/icons
    echo "--------------------------------"
{{ end -}}

if [ -d "${HOME}/dotfiles" ]; then
    echo "Dotfiles already exists."
else
    echo "Create symlink..."
    ln -sf "{{ .dotfilesDir }}" "${HOME}/dotfiles"
fi
ls -la "${HOME}/dotfiles"
echo "--------------------------------"

# 対話型にする？
{{/*

{{ if eq .chezmoi.hostname "101" -}}
    echo 'git userconf update ? (y/n)'
    read ans
    if [ "$ans" = "y" ] || [ "$ans" = "Y" ]; then
        vim "${HOME}/.config/git/user.conf"
    elif [ "$ans" = "n" ] || [ "$ans" = "N" ]; then
        echo 'Your config git user is ...'
        cat ~/.config/git/config
    fi
    echo "--------------------------------"
{{ end -}}

*/}}

chezmoi data
echo "--------------------------------"
chezmoi doctor
echo "--------------------------------"
echo "SourceDir: {{ .chezmoi.sourceDir }}"
echo 'Chezmoi Apply done!!'
date
cat ${HOME}/.config/neofetch/image.txt
echo "( ﾟДﾟ)y─┛~~♨ 🐈  ✨ 🥦 🌈 🚲 🏄 🙏 ☀ 🌕 🏴‍☠️"
