#! /usr/bin/env bash

echo "--------------------------------"
echo "run_once_before_bw_unlock.sh.tmpl"
echo "OS: {{ .chezmoi.os | quote }}"
echo "before bitwarden cli install"
cd ${HOME}
echo "--------------------------------"

MISE="${HOME}/.local/bin/mise"
SHIMS="${HOME}/.local/share/mise"
VERSION="20.18.1"
NPM="${SHIMS}/installs/node/${VERSION}/bin/npm"
BW="${SHIMS}/installs/node/${VERSION}/bin/bw"
SESSION="{{ .chezmoi.sourceDir }}/.env"
MASTER="${MASTER:-}"

# mise なければインストール
{{ if eq .chezmoi.os "darwin" -}}
    if ! command -v mise >/dev/null 2>&1; then
        brew install mise
    fi
    mise use -g node@${VERSION} -y && mise activate bash >/dev/null || echo "node install failed."

{{ else if eq .chezmoi.os "linux" -}}
    if ! command -v mise >/dev/null 2>&1; then
        curl https://mise.run | sh
    fi
    ${MISE} use -g node@${VERSION} -y && ${MISE} activate bash >/dev/null || echo "node install failed."

{{ end -}}
# mise shims のパスを通す
export PATH="${SHIMS}/shims:${PATH}"
echo "--------------------------------"
# npm なければインストール
if command -v npm >/dev/null 2>&1; then
    npm install -g @bitwarden/cli || echo "bitwarden cli install failed."

elif [ -f ${NPM} ]; then
    ${NPM} install -g @bitwarden/cli || echo "bitwarden cli install failed."

else
    echo "bitwarden cli install failed."
fi
echo "--------------------------------"
# bw cli があればロック解除
if command -v bw >/dev/null 2>&1; then
    echo "export BW_SESSION="$(bw unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

elif [ -f ${BW} ]; then
    echo "export BW_SESSION="$(${BW} unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

else
    echo "bw cli not found."
fi
cat ${SESSION} || echo "${SESSION} not found."
echo "--------------------------------"
echo "PATH ..."
echo "${PATH}" | tr ':' '\n'
echo "--------------------------------"
echo "bw install complete"
echo "--------------------------------"
