#! /usr/bin/env bash

echo "before bitwarden cli install"

case "${OSTYPE}" in
    darwin*)
        brew install mise || curl https://mise.run | sh
        mise use -g bun node -y --verbose || curl -fsSL https://bun.sh/install | bash && curl https://get.volta.sh | bash
        brew install bitwarden-cli || bun install -g @bitwarden/cli
        bw --version
        echo "export BW_SESSION=\"$(bw unlock --raw)\"" >> .env
        ;;
    *)
        curl https://mise.run | sh && ln -s ~/.local/bin/mise /usr/local/bin/mise || { sudo apt-get install -y cargo && cargo install mise; }
        mise use -g bun node -y --verbose && mise activate zsh || { curl -fsSL https://bun.sh/install | bash && ln -s ~/.bun/bin/bun /usr/local/bin/bun && { curl https://get.volta.sh | bash && ln -s ~/.volta/bin/volta /usr/local/bin/volta && volta install node@latest; }; }

        bun install -g @bitwarden/cli && ln -s ~/.cache/.bun/bin/bw /usr/local/bin/bw || { npm install -g @bitwarden/cli && ln -s ~/.npm/bin/bw /usr/local/bin/bw; }
        echo "export BW_SESSION=\"$(bw unlock --raw)\"" >> .env
        ;;
esac
echo "bitwarden cli install complete"
