#! /usr/bin/env bash

echo "OS: {{ .chezmoi.os | quote }}"
echo "before bitwarden cli install"
cd ${HOME}

{{ if eq .chezmoi.os "darwin" -}}
    brew install mise
    mise use -g node@20.18.1 -y && mise activate bash || echo "node install failed."
    ${HOME}/.local/share/mise/installs/node/20.18.1/bin/npm install -g @bitwarden/cli || echo "bitwarden cli install failed."
    export PATH="${HOME}/.local/share/mise/shims:$PATH"

{{ else if eq .chezmoi.os "linux" -}}
    if ! command -v mise >/dev/null 2>&1; then
        curl https://mise.run | sh
        ${HOME}/.local/bin/mise use -g node@20.18.1 -y && ${HOME}/.local/bin/mise activate bash || echo "mise install failed."
        ${HOME}/.local/share/mise/installs/node/20.18.1/bin/npm install -g @bitwarden/cli || echo "bitwarden cli install failed."
    else
        mise use -g node@20.18.1 -y && mise activate bash
        ${HOME}/.local/share/mise/installs/node/20.18.1/bin/npm install -g @bitwarden/cli || echo "bitwarden cli install failed."
    fi

    export PATH="${HOME}/.local/share/mise/shims:$PATH"
{{ end -}}

if command -v bw >/dev/null 2>&1; then
    echo "bw cli in PATH"
    echo "export BW_SESSION="$(bw unlock --raw)"" >> .env || echo "bw unlock failed."

elif [ -f ${HOME}/.local/share/mise/installs/node/20.18.1/bin/bw ]; then
    echo "bw cli not in PATH"
    echo "export BW_SESSION="$(${HOME}/.local/share/mise/node/installs/20.18.1/bin/bw unlock --raw)"" >> .env || echo "bw unlock failed."

else
    echo "bw install failed."
fi

echo "${PATH}" | tr ':' '\n'
echo "bitwarden cli install complete"
