#! /usr/bin/env bash

echo "run_once_before_bw_unlock.sh.tmpl"
echo "OS: {{ .chezmoi.os | quote }}"
cd ${HOME}
echo "--------------------------------"

MISE="${HOME}/.local/bin/mise"
SHIMS="${HOME}/.local/share/mise"
VERSION="20.18.1"
NPM="${SHIMS}/installs/node/${VERSION}/bin/npm"
BW="${SHIMS}/installs/node/${VERSION}/bin/bw"
SESSION="{{ .dotfilesDir }}/.env"

# age のパスフレーズが要求される
# マスターパスワードを復号
{{ if ne .name "runner" }}
    echo "decrypt shhh.txt"
    MASTER="$(chezmoi decrypt {{ .dotfilesDir }}/shhh.txt)"
    echo "MASTER: ${MASTER}"
{{ end }}

# age のパスフレーズが要求される
# マスターパスワードを暗号化
# echo "${MASTER}" | chezmoi encrypt > {{ .dotfilesDir }}/shhh.txt

# mise なければインストール
mise_install() {
{{ if eq .chezmoi.os "darwin" -}}
    command -v mise >/dev/null || brew install mise

{{ else if eq .chezmoi.os "linux" -}}
    command -v mise >/dev/null || curl https://mise.run | sh
    export PATH="${HOME}/.local/bin:${PATH}"

{{ end -}}

    echo "mise install complete"
    echo "--------------------------------"
}

npm_install() {
    if ! command -v npm >/dev/null 2>&1; then
        echo "npm not found."

        if command -v mise >/dev/null 2>&1; then
            mise use -g node@${VERSION} -y && mise activate bash >/dev/null || echo "node install failed."
        elif [ -f ${MISE} ]; then
            ${MISE} use -g node@${VERSION} -y && ${MISE} activate bash >/dev/null || echo "node install failed."
        else
            echo "mise not found."
        fi
            export PATH="${SHIMS}/shims:${PATH}"
            export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
    fi
    echo "node install complete"
}

# npm で bitwarden cli をインストール
bw_install() {
    if [ ! -f ${BW} ]; then
        if command -v npm >/dev/null 2>&1; then
            npm install -g @bitwarden/cli || echo "bitwarden cli install failed."

        elif [ -f ${NPM} ]; then
            ${NPM} install -g @bitwarden/cli || echo "bitwarden cli install failed."

        else
            echo "npm not found."
        fi
        export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
        echo "Bitwarden CLI installed."

    else
        echo "Bitwarden CLI already installed."
    fi
    echo "--------------------------------"
}

bw_unlock() {
    MASTER="${MASTER:-}"

    # bw cli があればロック解除
    if command -v bw >/dev/null 2>&1; then
        bw login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(bw unlock ${MASTER} --raw)"" > ${SESSION} || echo "bw unlock failed."

    elif [ -f ${BW} ]; then
        ${BW} login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(${BW} unlock ${MASTER} --raw)"" > ${SESSION} || echo "bw unlock failed."

    else
        echo "bw cli not found."
    fi

    # .env 表示
    if [ -f ${SESSION} ]; then
        cat ${SESSION}
    else
        echo "export BW_SESSION=${BW_SESSION:-}" > ${SESSION} && cat ${SESSION}
    fi
    MASTER=""
    echo "--------------------------------"
}

main() {
    echo "bitwarden setup"
    mise_install
    npm_install
    bw_install
    bw_unlock
    echo "bitwarden setup complete"
}
main
