#! /usr/bin/env bash
# chezmoi apply が完了したら実行される

echo "--------------------------------"
echo "Chezmoi apply completed!!"
echo "USER: $(whoami)"
echo "SHELL: ${SHELL}"
echo "pwd: $(pwd)"
ls -la
echo "File check start!!"
echo "--------------------------------"
echo "${HOME}"
ls -la "${HOME}"
echo "--------------------------------"
echo "${HOME}/data"
ls -la "${HOME}/data"
echo "--------------------------------"
echo "${HOME}/.config"
ls -la "${HOME}/.config"
echo "--------------------------------"
echo "${HOME}/.local/bin"
ls -la "${HOME}/.local/bin"
echo "--------------------------------"
echo "${HOME}/.local/share"
ls -la "${HOME}/.local/share"
echo "--------------------------------"

# sourceDir 確認
echo {{.dotfilesDir | quote }}
ls -la {{ .dotfilesDir }}
echo "--------------------------------"


# ~/dotfiles にシンボリックリンク
{{- if ne .name "devcontainer" }}
    echo 'Dotfiles symlink ...'
    if [ -d "${HOME}/dotfiles" ]; then
        echo "Dotfiles already exists."
    else
        echo "Dotfiles symlink..."
        ln -sf "{{ .dotfilesDir }}" "${HOME}/dotfiles"
    fi
    ls -la "${HOME}/dotfiles"
    echo "--------------------------------"
{{- end }}

echo 'Your config git user is ...'
git config --list
echo "--------------------------------"
echo 'userconf update ? (y/n)'

{{ if eq .chezmoi.username "hotmilk" -}}
read ans
if [ "$ans" = "y" ]; then
    cat "${HOME}/.config/git/config"
fi
{{ end -}}

echo "--------------------------------"
chezmoi data
echo 'Apply settings done!!'
echo "--------------------------------"
