#! /usr/bin/env bash

echo "install age..."
KEY_FILE=${HOME}/key.txt
echo "KEY_FILE: ${KEY_FILE}"

{{ if eq .chezmoi.os "darwin" -}}
command -v age >/dev/null || brew install age || echo "age install failed"
{{ else -}}
command -v age >/dev/null || sudo apt-get install -y age || echo "age install failed"
{{ end }}

if [ ! -f ${KEY_FILE} ]; then
    age-keygen -o ${KEY_FILE}
fi
cat ${KEY_FILE}
echo "age installed"
