#!/usr/bin/env bash

{{ if eq chezmoi.env.GIT_AUTHOR_NAME "budybye" }}
    echo "Your git user is budybye"
{{ end }}

echo "Your git user is ..."
cat ~/.config/git/userconf

echo "userconf update ? (y/n)"
#read ans
#if [ "$ans" = "y" ]; then
#  git config --global user.name "Your Name"
#  git config --global user.email "your.email@example.com"
#fi
echo "done"
