#! /usr/bin/env bash

PLAYLIST_NAME="riddim"
PLAYLIST_DIR="$HOME/Music/$PLAYLIST_NAME"
PLAYLIST_ID="PLMXoRsxtzGfCH7cvhAnzN_T3KvKmdkB3s"

URL="https://youtube.com/playlist?list=$PLAYLIST_ID"
OUTPUT_DIR="$PLAYLIST_DIR/%(title)s.%(ext)s"

{{ if ne .name "runner" -}}

# yt-dlpのインストール
if ! command -v yt-dlp &> /dev/null; then
    {{ if eq .chezmoi.os "Darwin" }}
        brew install yt-dlp ffmpeg
    {{ else }}
        sudo apt-get install -y ffmpeg yt-dlp
    {{ end }}
fi
echo "yt-dlp is installed"

# ダウンロード先ディレクトリの存在しなければダウンロード
if [ ! -d "$PLAYLIST_DIR" ]; then
    # youtube-dlを使って音声をダウンロード
    yt-dlp \
        --ignore-errors \
        --format bestaudio \
        --extract-audio \
        --audio-format mp3 \
        --audio-quality 0 \
        --output "$OUTPUT_DIR" \
        --no-warnings \
        "$URL"

    echo "ダウンロードが完了しました"
fi

# ダウンロードしたファイルの一覧を表示
ls -l "$PLAYLIST_DIR"

{{ end }}
