#!/usr/bin/env bash

echo "Your git user is ..."
cat ~/.config/git/userconf

echo "userconf update ? (y/n)"
#read ans
#if [ "$ans" = "y" ]; then
#  git config --global user.name "Your Name"
#  git config --global user.email "your.email@example.com"
#fi
echo "done"
