#! /usr/bin/env bash
# chezmoi apply が完了したら実行される
echo "run_after_6_check.sh.tmpl"
echo "--------------------------------"
echo "Chezmoi apply completed!!"
echo "USER: $(whoami)"
echo "SHELL: ${SHELL}"
echo "pwd: $(pwd)"
ls -la
echo "File check start!!"
echo "--------------------------------"
echo "${HOME}"
ls -la "${HOME}"
echo "--------------------------------"
echo "${HOME}/data"
ls -la "${HOME}/data"
echo "--------------------------------"
echo "${HOME}/.config"
ls -la "${HOME}/.config"
echo "--------------------------------"
echo "${HOME}/.ssh"
ls -la "${HOME}/.ssh"
echo "--------------------------------"
echo "${HOME}/.local/bin"
ls -la "${HOME}/.local/bin"
echo "--------------------------------"
echo "${HOME}/.local/share"
ls -la "${HOME}/.local/share"
echo "--------------------------------"
{{ if eq .chezmoi.os "linux" }}
    echo "${HOME}/.local/share/themes"
    ls -la "${HOME}/.local/share/themes"
    echo "--------------------------------"
    echo "${HOME}/.local/share/icons"
    ls -la "${HOME}/.local/share/icons"
    echo "--------------------------------"
    echo "${HOME}/.local/share/fonts"
    ls -la "${HOME}/.local/share/fonts"
    echo "--------------------------------"
{{ end }}

# sourceDir 確認
echo {{.dotfilesDir | quote }}
ls -la {{ .dotfilesDir }}
echo "--------------------------------"


# ~/dotfiles にシンボリックリンク
{{- if ne .name "dev" }}
    echo 'Dotfiles symlink ...'
    if [ -d "${HOME}/dotfiles" ]; then
        echo "Dotfiles already exists."
    else
        echo "Dotfiles symlink..."
        ln -sf "{{ .dotfilesDir }}" "${HOME}/dotfiles"
    fi
    ls -la "${HOME}/dotfiles"
    echo "--------------------------------"
{{- end }}

echo 'Your config git user is ...'
git config --list
echo "--------------------------------"
# 対話型にする？
{{ if eq .chezmoi.username "hotmilk" -}}
    echo 'userconf update ? (y/n)'
    read ans
    if [ "$ans" = "y" ]; then
        cat "${HOME}/.config/git/config"
    fi
    echo "--------------------------------"
{{ end -}}
chezmoi data
echo "--------------------------------"
echo "Settings check finished"
echo 'Apply settings done!!'
echo "Logfile is $(pwd)/make.log"
date
echo "--------------------------------"
