#! /usr/bin/env bash

echo "Decrypt-private-key..."

identity="${HOME}/.config/chezmoi/key.txt"
key_name="key.txt.age"
key_path="{{ .chezmoi.sourceDir }}/${key_name}"

{{ if eq .chezmoi.os "darwin" -}}
    command -v age >/dev/null || brew install age || echo "age install failed"

{{ else if eq .chezmoi.os "linux" -}}
    command -v age >/dev/null || sudo apt-get install -y age || echo "age install failed"

{{ else -}}
    echo "Your OS is {{ .chezmoi.os }}"
    curl -sSL https://github.com/FiloSottile/age/releases/download/v1.1.2/age-v1.1.2-darwin-amd64.tar.gz | tar xz

{{ end }}

{{ if ne .chezmoi.user "runner" -}}
    echo "Please enter your passphrase:"

    if [ ! -f ${identity} ]; then
        mkdir -p ${HOME}/.config/chezmoi
        chezmoi age decrypt --output "${identity}" --passphrase "${key_path}"
        chmod 600 ${identity}
    fi
{{ end }}

echo "Decrypt-private-key complete."
