#!/usr/bin/env bash

echo "--------------------------------"
echo "Chezmoi apply completed!!"
echo "File check start!!"
echo "${HOME}"
ls -la "${HOME}"
echo "--------------------------------"
echo "${HOME}/.config"
ls -la "${HOME}/.config"
echo "--------------------------------"
echo "${HOME}/.local/bin"
ls -la "${HOME}/.local/bin"
echo "--------------------------------"
echo "${HOME}/.local/share"
ls -la "${HOME}/.local/share"
echo "--------------------------------"
# chezmoi のディレクトリが存在するか確認 actionsだと無い
if [ -d "${HOME}/.local/share/chezmoi" ]; then
    echo "${HOME}/.local/share/chezmoi"
    ls -la "${HOME}/.local/share/chezmoi"
else
    echo "${HOME}/.local/share/chezmoi not found"
fi
echo "--------------------------------"

echo 'Dotfiles link ...'
if [ -d "${HOME}/.local/share/chezmoi" ]; then
    if [ ! -d "${HOME}/dotfiles" ]; then
        ln -sf "${HOME}/.local/share/chezmoi" "${HOME}/dotfiles" && ls -la "${HOME}/dotfiles" || echo 'Dotfiles link failed!!'
    else
        echo 'Dotfiles link already exists!!'
        ls -la "${HOME}/dotfiles"
    fi
else
    echo "${HOME}/.local/share/chezmoi not found"
fi

echo "--------------------------------"

echo 'Your git user is ...'
cat "${HOME}/.config/git/user.conf"

echo "--------------------------------"

echo 'userconf update ? (y/n)'
#read ans
#if [ "$ans" = "y" ]; then
#  git config --global user.name "Your Name"
#  git config --global user.email "your.email@example.com"
#fi

echo "--------------------------------"

if [ ! -f "${HOME}/.local/share/chezmoi/.env" ]; then
    echo "export USER_NAME=$(whoami)" >>"${HOME}/.local/share/chezmoi/.env" && ls -la "${HOME}/.local/share/chezmoi"
fi

echo "--------------------------------"
echo 'Change settings done!!'
