#!/bin/env bash

echo "before bitwarden cli install"
if [[ "$(uname -s)" == "Darwin*" ]]; then
    brew install mise
    mise use -g bun node -y --verbose || curl -fsSL https://bun.sh/install | bash

    brew install bitwarden-cli || bun install -g @bitwarden/cli
    bw --version
    echo "export BW_SESSION=\"$(bw unlock --raw)\"" >> .env
    echo "bitwarden cli install complete"

elif [[ "$(uname -s)" == "Linux*" ]]; then
    curl -fsSL https://get.mise.sh | bash || sudo apt-get install -y cargo && cargo install mise
    mise use -g bun node -y --verbose || curl -fsSL https://bun.sh/install | bash

    bun install -g @bitwarden/cli || npm install -g bitwarden
    bw --version
    echo "export BW_SESSION=\"$(bw unlock --raw)\"" >> .env
    echo "bitwarden cli install complete"
fi
