#! /usr/bin/env bash

echo "--------------------------------"
echo "Welcome to my dotfiles!!"
echo "OS info ..."
uname -a
echo "--------------------------------"
echo "Package update && check start!!"

{{ if eq .chezmoi.os "linux" -}}
    echo "Linux"
    sudo apt-get update -y
    sudo apt-get upgrade -y
    sudo apt-get autoremove -y
    sudo apt-get autoclean -y
    sudo apt-get check
{{ else if eq .chezmoi.os "darwin" -}}
    echo "MacOS"
    brew update
    brew upgrade
    brew autoremove
    brew cleanup
    brew doctor
{{ end -}}

echo "--------------------------------"

if ! command -v chezmoi >/dev/null 2>&1; then
    echo "chezmoi command not found"
else
    chezmoi data
fi

echo "Package update && check done!!"
