# apply で配置されないファイルの指定
# ファイルの配置されるときの名前にする
# .name などのdata は .chezmoi.toml.tmpl

{{ if eq (env "GITHUB_ACTIONS") "true" }}
.ssh/authorized_keys.*
.ssh/id_ed25519.*
.ssh/id_rsa.*
.chezmoiscripts/run_once_after_youtube.*
{{ end }}

{{ if eq .chezmoi.username "dev" }}
.chezmoiscripts/linux/run_once_after_docker.*
.chezmoiscripts/linux/run_once_after_setup.*
.chezmoiscripts/linux/run_onchange_after_snap.*
{{ end }}

{{ if eq .bitwarden false }}
.config/git/user.*
.ssh/id_ed25519.*
.ssh/id_rsa.*
{{ end }}

{{ if eq .github false }}
.config/git/user.*
{{ end }}

{{ if eq .age false }}
.ssh/id_rsa.*
.ssh/id_ed25519.*
{{ end }}

{{ if eq .ssh false }}
.ssh/authorized_keys.*
.ssh/id_rsa.*
.ssh/id_ed25519.*
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.config/Brewfile
.config/karabiner
.ssh/id_rsa.*
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/fcitx5
.config/fusuma
.local/share/fonts
.local/share/icons
.local/share/themes
.chezmoiscripts/linux/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config/**
data/**
.devcontainer/**
cloud-init/**
*rc
*profile
*env
{{ end }}

.chezmoiexternal.*
key.txt.age
shhh.txt
