# https://www.chezmoi.io/user-guide/include-files-from-elsewhere/

[".config/vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"

["data"]
    type = "archive"
    url = "https://gateway.pinata.cloud/ipfs/bafybeiee26uekcs4fhxv6z3yvz4cm6xykuvty2sk6jbzo4xaqhkxtynp6q"
    stripComponents = 1
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "darwin" }}

["Music/riddim"]
    type = "archive"
    url = "https://gateway.pinata.cloud/ipfs/bafybeihcfkghpafqnx7phqvnfm5qhrzmvjcpm3cfgbh45i5lzody6zpf4u"
    stripComponents = 1
    refreshPeriod = "168h"

{{ end }}

{{ if eq .chezmoi.os "linux" }}

[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"

[".local/share/themes/WhiteSur-gtk-theme-cinnamon-xfce"]
    type = "archive"
    url = "https://github.com/CoolAller/WhiteSur-gtk-theme-cinnamon-xfce/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/themes/WhiteSur-gtk-theme"]
    type = "archive"
    url = "https://github.com/vinceliuice/WhiteSur-gtk-theme/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/icons/WhiteSur-icon-theme"]
    type = "archive"
    url = "https://github.com/vinceliuice/WhiteSur-icon-theme/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/backgrounds/WhiteSur-wallpapers"]
    type = "archive"
    url = "https://github.com/vinceliuice/WhiteSur-wallpapers/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ end }}

[".local/share/fonts"]
    type = "archive"
    url = "https://github.com/yuru7/HackGen/releases/download/v2.9.1/HackGen_NF_v2.10.0.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/fonts/RobotoMonoJP-Mono-Regular.ttf"]
    type = "file"
    url = "https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Mono-Regular.ttf"
    refreshPeriod = "168h"

[".local/share/fonts/RobotoMonoJP-Regular.ttf"]
    type = "file"
    url = "https://github.com/mjun0812/RobotoMonoJP/releases/download/v5.0.0/RobotoMonoJP-Regular.ttf"
    refreshPeriod = "168h"
