{
  "model": "sonnet",
  "env": {
      "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
			"CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
      "ANTHROPIC_BASE_URL": {{ (bitwardenFields "item" "claude").base_url.value}}
		},
  "permissions": {
    "allow": [],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(./build)"
    ]
  },
  "hooks": {},
  "plansDirectory": "~/.config/claude/plans",
  "systemPrompt": "",
  "statusLine": {
    "type": "command",
    "command": "printf '\\e[32m%s@%s\\e[m:\\e[34m%s\\e[m' \"$(whoami)\" \"$(hostname -s)\" \"$(pwd)\""
  }
}
