#!/usr/bin/env bash

echo "run_once_vscode.sh.tmpl"
echo "--------------------------------"

# 管理下の設定ファイルの場所
FROM="${HOME}/.config/Code"
CODE_DIR="${HOME}/.local/share/Code"

# 環境によって変わる 設定ファイルの場所
if command -v cursor >/dev/null 2>&1; then
    CODE_DIR="${HOME}/.local/share/Cursor"
elif [ -f "${HOME}/Applications/cursor" ]; then
    CODE_DIR="${HOME}/.local/share/Cursor"
elif command -v codium >/dev/null 2>&1; then
    CODE_DIR="${HOME}/.config/VSCodium"
fi
# VSCodeのUserディレクトリの作成
sudo mkdir -p "${CODE_DIR}/User"

{{ if ne (env "REMOTE_CONTAINERS") "true" -}}

    # 現在インストールされている拡張機能のリストを取得
    INSTALLED_EXTENSIONS=$(code --list-extensions | jq -R -s 'split("\n")[:-1]')

    {{ range .packages.extensions -}}
    # jqを使用して拡張機能が既にインストールされているかチェック
    if echo "${INSTALLED_EXTENSIONS}" | jq -e 'contains(["{{ . }}"])' > /dev/null; then
        echo "{{ . }} already installed."
    else
        echo "Installing {{ . }}..."
        code --force --install-extension {{ . }}
    fi
    {{ end }}

{{ end }}

# 設定ファイルをバックアップし、新しいファイルを作成する汎用関数
copy_json_file() {
    # 'settings' または 'keybindings'
    local json_type="$1"
    local from_file="${FROM}/user-data/User/${json_type}.json"
    local target_file="${CODE_DIR}/User/${json_type}.json"

    # json_fileが存在する場合はバックアップを作成
    if [ -f "${target_file}" ]; then
        sudo cp "${target_file}" "${target_file}.old"
        echo "バックアップを作成しました: ${target_file}.old"
    fi

    sudo ln -sf "${from_file}" "${target_file}"
    echo "new ${target_file} created."
    cat "${target_file}"
    echo "--------------------------------"
}

extensions_json() {
    # extensions.jsonのパス
    CODEX="${CODE_DIR}/extensions.json"

    # extensions.jsonが存在する場合はバックアップを作成
    if [ -f "${CODEX}" ]; then
        sudo cp "${CODEX}" "${CODEX}.old"
        echo "バックアップを作成しました: ${CODEX}.old"
    fi

    if command -v code >/dev/null 2>&1; then
        sudo ln -sf "${FROM}/extensions.json" "${CODEX}"
        echo "new ${CODEX} created."
    else
        # インストールされている拡張機能を"extensions.json"の形式で出力する
        echo '{"recommendations": [],"unwantedRecommendations":[]}' | sudo tee "${CODEX}" > /dev/null
        sudo code --list-extensions | xargs -I {} sh -c "jq '.recommendations += [\"{}\"]' ${CODEX} | sudo tee temp > /dev/null && sudo mv temp ${CODEX}"
        echo 'extension update done!'
    fi

    cat "${CODEX}"
    echo "--------------------------------"
}

copy_json_file "settings"
copy_json_file "keybindings"
extensions_json

tree -L 3 "${CODE_DIR}"
echo "--------------------------------"
