#!/usr/bin/env bash

echo "run_after_activate.sh.tmpl"
echo "--------------------------------"
USERNAME=$(whoami)
echo "Welcome to $USERNAME dotfiles!!"
echo "sourceDir: {{ .chezmoi.sourceDir }}"
echo "user: $USERNAME"
echo "OS info ..."
uname -mars
echo "SHELL: $SHELL"
echo "--------------------------------"

# .env の確認と作成
echo ".env && ENVIRONMENT checking..."
cat {{ .chezmoi.sourceDir }}/.env || echo "no {{ .chezmoi.sourceDir }}/.env file"
mise set || echo "mise set failed."
echo "--------------------------------"
env
echo "--------------------------------"

# SSH の設定

{{- if ne .ssh false }}

echo "SSH key ..."
cat /etc/ssh/sshd_config
echo "--------------------------------"
chmod 700 ~/.ssh
chmod 644 ~/.ssh/id_ed25519.pub
chmod 600 ~/.ssh/id_ed25519
chmod 600 ~/.ssh/authorized_keys
echo "authorized_keys..."
cat ~/.ssh/authorized_keys
echo "--------------------------------"
ls -la ~/.ssh
echo "--------------------------------"
echo "SSH key pub ..."
cat ~/.ssh/id_ed25519.pub
echo "--------------------------------"
echo "SSH Config ..."
cat ~/.ssh/config
echo "--------------------------------"

{{- else }}
echo "SSH key not set."
echo "--------------------------------"
{{- end }}

# git の設定

{{- if ne .github false }}

echo "github yes"
echo "git config ..."
cat ~/.config/git/user.conf
echo "git config user.name"
git config user.name
echo "git config user.email"
git config user.email
echo "--------------------------------"
cat ~/.config/git/config
echo "--------------------------------"
cat ~/.config/git/commit.template
git config --global commit.template ${HOME}/.config/git/commit.template
echo "--------------------------------"

{{- else }}

echo "github no"
echo "--------------------------------"

{{- end }}

# bitwarden の設定

{{- if ne .bitwarden false }}

echo "bitwarden yes"
echo "--------------------------------"

{{- else }}
echo "bitwarden no"
echo "--------------------------------"

{{- end }}

# age の設定

{{- if ne .age false }}

echo "age yes"
echo "--------------------------------"

{{- else }}
echo "age no"
echo "--------------------------------"

{{- end }}

# Music の確認

if [ -f ~/Music/riddim ]; then
    ls -la ~/Music/riddim
    echo "--------------------------------"
else
    echo "$HOME/Music/riddim not found."
    echo "--------------------------------"
fi
