#! /usr/bin/env bash

echo "run_once_before_bw_unlock.sh.tmpl"
echo "OS: {{ .chezmoi.os | quote }}"
cd ${HOME}
echo "--------------------------------"

# マスターパスワードを暗号化 パスフレーズが要求される
# echo "${MASTER}" | chezmoi encrypt > {{ .chezmoi.sourceDir }}/shhh.txt

# マスターパスワードを復号 パスフレーズが要求される
{{ if ne .name "runner" -}}{{/* ノンインタラクティブでは実行しない */}}

echo "decrypt shhh.txt"
MASTER="$(chezmoi decrypt {{ .chezmoi.sourceDir }}/shhh.txt)"
echo "MASTER: ${MASTER}"
echo "--------------------------------"

{{ end }}

MISE="${HOME}/.local/bin/mise"
SHIMS="${HOME}/.local/share/mise"
VERSION="20.18.1"
NPM="${SHIMS}/installs/node/${VERSION}/bin/npm"
BW="${SHIMS}/installs/node/${VERSION}/bin/bw"
SESSION="{{ .chezmoi.sourceDir }}/.env"

# mise なければインストール
mise_install() {
    if ! command -v mise >/dev/null 2>&1; then
        echo "mise not found."

        if command -v brew >/dev/null 2>&1; then
            brew install mise || echo "mise install failed."

        elif command -v curl >/dev/null 2>&1; then
            curl https://mise.run | sh || echo "mise install failed."

        else
            echo "mise install failed."
            exit 1

        fi
        export PATH="${HOME}/.local/bin:${PATH}"
        echo "mise installed"

    else
        echo "mise already installed."
    fi
    echo "--------------------------------"
}

npm_install() {
    if ! command -v npm >/dev/null 2>&1; then
        echo "npm not found."

        if command -v mise >/dev/null 2>&1; then
            mise use -g node@${VERSION} -y && mise activate bash >/dev/null || echo "node install failed."

        elif [ -f ${MISE} ]; then
            ${MISE} use -g node@${VERSION} -y && ${MISE} activate bash >/dev/null || echo "node install failed."

        else
            echo "mise not found."
            exit 1

        fi
        export PATH="${SHIMS}/shims:${PATH}"
        export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
        echo "node installed"

    else
        echo "node already installed."
    fi
    echo "--------------------------------"
}

# npm で bitwarden cli をインストール
bw_install() {
    if [ ! -f ${BW} ]; then

        if command -v npm >/dev/null 2>&1; then
            npm install -g @bitwarden/cli || echo "bitwarden cli install failed."

        elif [ -f ${NPM} ]; then
            ${NPM} install -g @bitwarden/cli || echo "bitwarden cli install failed."

        else
            echo "npm not found."
            exit 1

        fi
        export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
        echo "Bitwarden CLI installed."

    else
        echo "Bitwarden CLI already installed."
    fi
    echo "--------------------------------"
}

bw_unlock() {
    MASTER="${MASTER:-}"

    # bw cli があればロック解除
    if command -v bw >/dev/null 2>&1; then
        bw login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(bw unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

    elif [ -f ${BW} ]; then
        ${BW} login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(${BW} unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

    else
        echo "bw cli not found."

    fi

    # .env 表示
    if [ -f ${SESSION} ]; then
        cat ${SESSION}

    else
        echo "export BW_SESSION=${BW_SESSION:-}" > ${SESSION} && cat ${SESSION}

    fi
    MASTER=""
    echo "--------------------------------"
}

{{ if eq .bitwarden true -}}
echo "bitwarden true"
{{ end }}

echo "bitwarden setup"
mise_install
npm_install
bw_install
bw_unlock
echo "bitwarden setup complete"
