#!/usr/bin/env bash

echo "run_once_before_bw.sh.tmpl"
cd ${HOME}
echo "--------------------------------"

# マスターパスワードを暗号化 パスフレーズが要求される
# echo "${MASTER}" | chezmoi encrypt > {{ .chezmoi.sourceDir }}/shhh.txt

{{/* マスターパスワードを復号 パスフレーズが要求される */}}
{{ if ne .bitwarden false }}

echo "decrypt shhh.txt"
MASTER="$(chezmoi decrypt {{ .chezmoi.sourceDir }}/shhh.txt)"
echo "--------------------------------"

{{ end }}

MISE="${HOME}/.local/bin/mise"
SHIMS="${HOME}/.local/share/mise"
VERSION="24"
NPM="${SHIMS}/installs/node/${VERSION}/bin/npm"
BW="${SHIMS}/installs/node/${VERSION}/bin/bw"
SESSION="{{ .chezmoi.sourceDir }}/.env"

# mise なければインストール
mise_install() {
    if command -v mise >/dev/null 2>&1; then
        echo "mise already installed."

    elif command -v brew >/dev/null 2>&1; then
        brew install mise || echo "mise install failed."

    elif command -v curl >/dev/null 2>&1; then
        curl https://mise.run | sh || echo "mise install failed."
        export PATH="${HOME}/.local/bin:${PATH}"

    else
        echo "mise install failed."
        exit 1
    fi

    mise --version || echo "mise command not found."
    echo "mise installed"
    echo "--------------------------------"
}

# node なければインストール
node_install() {
    if command -v npm >/dev/null 2>&1; then
        echo "npm already installed."

    elif command -v mise >/dev/null 2>&1; then
        mise use -g node@${VERSION} -y && mise activate bash >/dev/null || echo "node install failed."

    elif [ -f ${MISE} ]; then
        ${MISE} use -g node@${VERSION} -y && ${MISE} activate bash >/dev/null || echo "node install failed."

    else
        echo "mise not found."
        exit 1

    fi

    export PATH="${SHIMS}/shims:${PATH}"
    export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
    npm --version || echo "npm command not found."
    echo "node installed"
    echo "--------------------------------"
}

# npm で bitwarden cli をインストール
bw_install() {
    if command -v bw >/dev/null 2>&1; then
        echo "bw already installed."

    elif command -v npm >/dev/null 2>&1; then
        npm install -g @bitwarden/cli || echo "bitwarden cli install failed."

    elif [ -f ${NPM} ]; then
        ${NPM} install -g @bitwarden/cli || echo "bitwarden cli install failed."

    else
        echo "npm not found."
        # sudo snap install bw
        #exit 1

    fi
    export PATH="${SHIMS}/installs/node/${VERSION}/bin:${PATH}"
    bw --version || echo "bw command not found."
    echo "Bitwarden CLI installed."
    echo "--------------------------------"
}

bw_unlock() {
    # bw cli があればロック解除
    if command -v bw >/dev/null 2>&1; then
        bw login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(bw unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

    elif [ -f ${BW} ]; then
        ${BW} login {{ .email }} ${MASTER} || echo "bw login failed."
        echo "export BW_SESSION="$(${BW} unlock ${MASTER} --raw)"" >> ${SESSION} || echo "bw unlock failed."

    else
        echo "bw cli not found."
    fi

    # .env 表示
    if [ -f ${SESSION} ]; then
        cat ${SESSION}
    else
        echo "export BW_SESSION=${BW_SESSION:-}" > ${SESSION} && cat ${SESSION}
    fi
    echo "--------------------------------"
}

echo "bitwarden setup"
mise_install
node_install
bw_install

{{ if ne .bitwarden false }}
bw_unlock
{{ end }}

echo "bitwarden setup complete"
echo "--------------------------------"
