#!/usr/bin/env bash

# chezmoi apply が完了したら最後に実行される
echo "run_after_with.sh.tmpl"
echo "--------------------------------"
echo "Chezmoi apply completed!!"
echo "USER: $(whoami)"
echo "SHELL: ${SHELL}"
uname -a
echo "--------------------------------"
echo "PATH ..."
# 重複したPATHを削除
if command -v awk > /dev/null 2>&1; then
    export PATH="$(printf %s "${PATH}" | awk -v RS=: -v ORS=: '!arr[$0]++')"
fi
echo "${PATH}" | tr ':' '\n'
echo "--------------------------------"
echo "File check start!!"
echo "pwd: $(pwd)"
echo "SourceDir: {{.chezmoi.sourceDir }}"
tree -L 4 {{ .chezmoi.sourceDir }}
echo "--------------------------------"
echo "${HOME}"
ls -la "${HOME}"
echo "--------------------------------"
echo "${HOME}/data"
ls -la "${HOME}/data"
echo "--------------------------------"
tree -L 3 "${HOME}/.config"
echo "--------------------------------"
echo "${HOME}/.ssh"
ls -la "${HOME}/.ssh"
echo "--------------------------------"
echo "${HOME}/.local/bin"
ls -la "${HOME}/.local/bin"
echo "--------------------------------"
tree -L 3 "${HOME}/.local/share"
echo "--------------------------------"
tree "${HOME}/Music/riddim"
echo "--------------------------------"

{{ if eq .chezmoi.os "linux" -}}

tree -L 2 ${HOME}/.local/share/themes
echo "--------------------------------"
tree -L 2 ${HOME}/.local/share/fonts
echo "--------------------------------"
tree -L 2 ${HOME}/.local/share/icons
echo "--------------------------------"

{{ end -}}

if [ -d "${HOME}/dotfiles" ]; then
    echo "Dotfiles already exists."
else
    echo "Create symlink..."
    ln -sf "{{ .chezmoi.sourceDir }}" "${HOME}/dotfiles"
fi
ls -la "${HOME}/dotfiles"
echo "--------------------------------"

# 対話型にする？
{{/*
{{ if eq .chezmoi.hostname "101" -}}

echo 'git userconf update ? (y/n)'
read ans
if [ "$ans" = "y" ] || [ "$ans" = "Y" ]; then
    vim "${HOME}/.config/git/user.conf"
fi
cat ~/.config/git/user.conf
echo "--------------------------------"

{{ end -}}
*/}}

chezmoi data
echo "--------------------------------"
chezmoi doctor
echo "--------------------------------"
chezmoi ignored
echo "--------------------------------"
echo 'Chezmoi Apply done!!'
date
echo "https://github.com/budybye/dotfiles"
echo "( ﾟДﾟ)y─┛~~♨️ 🍍 🍕 🐈 ✨ 🥦 🌈 🚲 🏄 🙏 🌞 🌕 🏴‍☠️"
