#!/usr/bin/env bash

echo "run_once_before_age.sh.tmpl"
echo "--------------------------------"

if command -v age >/dev/null 2>&1; then
    echo "age already installed"

elif command -v mise >/dev/null 2>&1; then
    mise use -g age@latest -y || echo "age install failed"

elif command -v brew >/dev/null 2>&1; then
    brew install age || echo "age install failed"

elif command -v apt-get >/dev/null 2>&1; then
    sudo apt-get install -y age || echo "age install failed"

elif command -v curl >/dev/null 2>&1; then
    curl -sSL https://github.com/FiloSottile/age/releases/download/v1.1.2/age-v1.1.2-linux-$(dpkg --print-architecture).tar.gz | tar xz || echo "age install failed"

else
    echo "age not installed"
    exit 1
fi

age --version || echo "age command not found && exit 1"
echo "--------------------------------"


# key.txt をパスフレーズで復号するので事前に用意
# https://www.chezmoi.io/user-guide/frequently-asked-questions/encryption/

{{ if ne .age false }}

{{/* .chezmoi.toml.tmpl と合わせる */}}
identity="${HOME}/.config/chezmoi/key.txt"

{{/* age-keygen | age --armor --passphrase ${key_name} で生成したキーのファイル名 */}}
key_name="key.txt.age"
key_path="{{ .chezmoi.sourceDir }}/${key_name}"

echo "key_path: ${key_path}..."
echo "identity: ${identity}..."

{{/* ~/.config/chezmoi/key.txt が存在しない場合は復号 */}}

if [ ! -f ${identity} ]; then
    mkdir -p ${HOME}/.config/chezmoi
    echo "Please enter your age passphrase:"
    chezmoi age decrypt --output "${identity}" --passphrase "${key_path}"
    chmod 600 ${identity}
fi

echo "Decrypt-private-key complete."
echo "--------------------------------"

{{ end }}
