{
  "env": {
      "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
			"CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
      "ANTHROPIC_BASE_URL": {{ (bitwardenFields "item" "claude").proxy.value | quote }}
	},
  "permissions": {
    "allow": [
      "Bash"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(./build)"
    ]
  }
}
