{{ if and (ne (env "GITHUB_ACTIONS") "true") (ne (env "CODESPACES") "true") (ne (env "REMOTE_CONTAINERS") "true") (ne (env "DOCKER") "true") -}}

{{ range gitHubKeys "budybye" -}}
{{   .Key }}
{{ end -}}

{{ range gitHubKeys "boborder" -}}
{{   .Key }}
{{ end -}}

{{ end -}}
