[user]
{{- if eq .chezmoi.os "darwin" }}
    email = {{ (bitwarden "item" "gh").login.password | "101wayout@gmail.com" }}
    name = {{ (bitwarden "item" "gh").login.username | "budybye" }}
{{- else }}
    email = 101wayout@gmail.com
    name = budybye
{{- end }}
