[tools]
bun = "latest"
node = "latest"
deno = "latest"
pnpm = "latest"
bitwarden = "latest"
# bitwarden-secrets-manager = "latest"
# marp-cli = "latest"
claude = "latest"
doppler = "latest"
gemini = "latest"
stripe = "latest"
sentry = "latest"
usage = "latest"
serverless = "latest"
graphite = "latest"
wrangler = "latest"
prettier = "latest"
json5 = "latest"
devcontainer-cli = "latest"
# codex = "latest"
# biome = "latest"

go = "latest"
aqua = "latest"
act = "latest"
ghq = "latest"
caddy = "latest"
cfssl = "latest"
chezmoi = "latest"
cheat = "latest"
cloudflared = "latest"
cmdx = "latest"
gcloud = "latest"
pinact = "latest"
# jwt = "latest"
rclone = "latest"
task = "latest"
swag = "latest"
trivy = "latest"
yamlfmt = "latest"
hadolint = "latest"
infracost = "latest"
lazygit = "latest"
lazydocker = "latest"
# kubectx = "latest"
# neonctl = "latest"
# websocat = "latest"
# opensearch = "latest"
# elasticsearch = "latest"

rust = "latest"
cargo-binstall = "latest"
jj = "latest"
xh = "latest"
fd = "latest"
bat = "latest"
rg = "latest"
lsd = "latest"
dua = "latest"
glow = "latest"
hurl = "latest"
atuin = "latest"
lychee = "latest"
zellij = "latest"
# mdbook = "latest"
scooter = "latest"
zoxide = "latest"
coreutils = "latest"
# ripsecrets = "latest"
# tlrc = "latest"
# oxlint = "latest"
# choose = "latest"
# sd = "latest"
# starship = "latest"

python = "latest"
uv = "latest"
pipx = "latest"
ruff = "latest"
hatch = "latest"
opencode = "latest"
# navi = "latest"

ninja = "latest"
conan = "latest"
redis = "latest"
cowsay = "latest"
# make = "latest"
# cmake = "latest"
# bpkg = "latest"
# postgres = "latest"

age = "latest"
fx = "latest"
gh = "latest"
yq = "latest"
jq = "latest"
ubi = "latest"
duckdb = "latest"
sqlite = "latest"
mkcert = "latest"
fastfetch = "latest"
checkmake = "latest"
shellcheck = "latest"
# ghq = "latest"
# kustomize = "latest"
# terraform = "latest"
# opentofu = "latest"

java = "latest"
maven = "latest"
# tomcat = "latest"
# kafka = "latest"
# spark = "latest"

# ruby = "latest"
# dotnet = "latest"
# flutter = "latest"
# php = "latest"

# ansible = "latest"
# android-sdk = "latest"
# localstack = "latest"
# direnv = "latest"
# vim = "latest"
# mongosh = "latest"
# gum = "latest"
# sampler = "latest"
# jjui = "latest"
# tmux = "latest"
# zprint = "latest"

# aws = "latest"
ffmpeg = "latest"
yt-dlp = "latest"
# neovim = "latest"
solidity = "latest"
cocoapods = "latest"
pre-commit = "latest"

[settings]
# プラグインは他のバージョン管理ツールのバージョンファイルを読み取ることができます（プラグインが有効な場合）
# 例えば、nodeのnvmの場合は.nvmrc
legacy_version_file = true                     # デフォルトで有効（asdfとは異なる）
#legacy_version_file_disable_tools = ['python'] # 特定のツールを無効にする

# `mise install`でダウンロードしたアーカイブを常に保持するように設定
always_keep_download = false        # デフォルトではインストール後に削除
always_keep_install = false         # デフォルトでは失敗時に削除

# プラグインリポジトリの更新を取得する頻度を設定（分単位）
# 新しいランタイムがインストールされるたびに更新されます
# （注：これはまだ実装されていませんが、追加予定です：https://github.com/jdx/mise/issues/128）
plugin_autoupdate_last_check_duration = '1 week' # 0に設定すると更新を無効化

# これらのプレフィックスを持つ設定ファイルはデフォルトで信頼されます
trusted_config_paths = [
  '~/dotfiles',
]

# 慣習的なバージョンファイルを有効にするツール
idiomatic_version_file_enable_tools = [
  "node",
]

verbose = false       # trueに設定すると、インストールの全出力が表示されます。`MISE_VERBOSE`を参照
asdf_compat = true    # trueに設定すると、.tool-versionsがasdfと互換性を持つようになります。`MISE_ASDF_COMPAT`を参照
http_timeout = "30s"  # HTTPリクエストのタイムアウトを設定します。`MISE_HTTP_TIMEOUT`を参照
jobs = 4              # 並行してインストールするプラグインやランタイムの数。デフォルトは`4`
raw = false           # trueに設定すると、プラグインを直接stdin/stdout/stderrにパイプします
yes = true            # trueに設定すると、すべてのプロンプトに自動的に「はい」と答えます

#not_found_auto_install = true # `MISE_NOT_FOUND_AUTO_INSTALL`を参照
#task_output = "prefix" # タスクランナーの詳細については参照
#paranoid = false       # `MISE_PARANOID`を参照

shorthands_file = '~/.config/mise/shorthands.toml' # ショートハンドファイルのパス、`MISE_SHORTHANDS_FILE`を参照
disable_default_shorthands = false # デフォルトのショートハンドを無効にする、`MISE_DISABLE_DEFAULT_SHORTHANDS`を参照
disable_tools = ['rust']           # 特定のツールを無効にする、通常はコアツールをオフにするために使用

env_file = '.env' # .env ファイルから環境変数を読み込む、`MISE_ENV_FILE`を参照

experimental = true # 実験的な機能を有効にする

# 設定ファイルを持つディレクトリに入るときに表示されるメッセージを設定
status.missing_tools = "if_other_versions_installed"
status.show_env = false
status.show_tools = false

# rustのホームディレクトリを設定
rust.cargo_home = "~/.local/share/cargo"
rust.rustup_home = "~/.local/share/rustup"

# package managerの設定
cargo.binstall = true
pipx.uvx = true
npm.bun = true

# [[env]]
# _.path = [
#   '~/.local/bin',
#   './node_modules/.bin',
# ]
