#!/usr/bin/env bash
set -eu

sudo=""
if [ "$(id -u)" -ne 0 ]; then
    sudo="sudo"
fi

install_snapd() {
    if ! command -v snap >/dev/null 2>&1; then
        $sudo apt-get install -y snap snapd || echo "snapd install failed."
    else
        echo "snapd already installed."
    fi
}

install_snap() {

    {{ range .packages.snap.classic -}}
    if ! command -v {{ . }} >/dev/null 2>&1; then
        $sudo snap install {{ . }} --classic || echo "{{ . }} install failed."
    fi
    {{ end -}}

    {{ range .packages.snap.latest -}}
    if ! command -v {{ . }} >/dev/null 2>&1; then
        $sudo snap install {{ . }} || echo "{{ . }} install failed."
    fi
    {{ end -}}

    echo "snap tools installed."
}

echo "snap.sh"
echo "--------------------------------"
install_snapd
install_snap
echo "--------------------------------"
echo "snap tools installed."
echo "--------------------------------"
