#!/usr/bin/env bash

echo "run_onchange_after_snap.sh.tmpl"
echo "--------------------------------"

if $(whoami) != "root"; then
    sudo="sudo"
else
    sudo=""
fi

install_snapd() {
    command -v snap >/dev/null || $sudo apt-get install -y snap snapd && echo "snapd installed." || echo "snapd install failed."
}

install_snap() {

    {{ range .packages.snap.classic -}}
    command -v {{ . }} >/dev/null || $sudo snap install {{ . }} --classic && echo "{{ . }} installed." || echo "{{ . }} install failed."
    {{ end }}

    {{ range .packages.snap.latest -}}
    command -v {{ . }} >/dev/null || $sudo snap install {{ . }} && echo "{{ . }} installed." || echo "{{ . }} install failed."
    {{ end }}

    if command -v firefox >/dev/null 2>&1; then
        $sudo snap remove firefox || $sudo apt remove firefox && echo "firefox uninstalled." || echo "firefox uninstall failed."
    fi

    echo "snap tools installed."
}

install_snapd
install_snap
echo "--------------------------------"
