#!/usr/bin/env bash

echo "run_once_after_setup.sh.tmpl"
echo "--------------------------------"

sudo=""
if [ "$(id -u)" -ne 0 ]; then
    sudo="sudo"
fi

japan_setup() {
    echo "japan setup start..."
    $sudo localectl set-locale LANG=ja_JP.UTF-8
    $sudo localectl set-locale LANGUAGE=ja_JP:ja
    $sudo localectl set-x11-keymap jp
    $sudo localectl set-keymap jp106
    $sudo timedatectl set-timezone Asia/Tokyo
    # LANG=C xdg-user-dirs-update --force
    $sudo im-config -n fcitx5
    echo "japan setup completed."
}

xrdp_setup() {
    echo "xrdp setup start..."
    # デフォルトのセッションマネージャーをxfce4-sessionに設定
    $sudo update-alternatives --set x-session-manager /usr/bin/xfce4-session

    $sudo groupadd -f ssl-cert
    $sudo groupadd -f xrdp
    $sudo usermod -aG ssl-cert,xrdp "$(whoami)"
    $sudo ufw allow 3389

    $sudo systemctl daemon-reload
    $sudo systemctl restart rsyslog
    $sudo systemctl enable xrdp
    $sudo systemctl start xrdp
    echo "xrdp setup completed."

    echo "以下のコマンドを実行してパスワードを更新してください"
    echo "sudo passwd $(whoami)"
    # ログイン後、ubuntuユーザーのパスワードを再設定を推奨
    # パスワードを再設定しないとログインできない?
    # echo "$(whoami):$(whoami)" | $sudo chpasswd
}

pipewire_setup() {
    doko=$(pwd)
    pulseaudio_dir="${HOME}/.config/pulseaudio"
    pipewire_dir="${HOME}/.config/pipewire/pulseaudio-module-xrdp"

    # pulseaudio をインストール
    $sudo apt-get install -y pulseaudio libpulse-dev dh-autoreconf dpkg-dev git || echo "pulseaudio install failed."

    mkdir -p "${pulseaudio_dir}"
    cd "${pulseaudio_dir}"
    git clone https://github.com/neutrinolabs/pulseaudio-module-xrdp.git
    cd pulseaudio-module-xrdp
    $sudo make install
    ls $(pkg-config --variable=modlibexecdir libpulse) | grep xrdp || echo "pulseaudio xrdp module not found."
    cd "${doko}"

    # pipewire をインストール
    $sudo apt-get install -y pipewire pipewire-audio libspa-0.2-dev libpipewire-0.3-dev autoconf libtool && echo "pipewire installed." || echo "pipewire install failed."
    mkdir -p "${HOME}/.config/pipewire"

    if [ ! -d "${pipewire_dir}" ]; then
        git clone https://github.com/neutrinolabs/pulseaudio-module-xrdp.git "${pipewire_dir}"
        cd "${pipewire_dir}"
        ./bootstrap

        # PULSE_DIR を pulseaudio ソースのディレクトリに設定
        export PULSE_DIR=~/pulseaudio

        ./configure PULSE_DIR="${PULSE_DIR}" PULSE_CONFIG_DIR="${PULSE_DIR}"
        make
        $sudo make install
        cd "${doko}"
    fi
    echo "pipewire installed."
}

japan_setup
xrdp_setup
pipewire_setup

echo "--------------------------------"
echo "GUI setup done!!"
echo "--------------------------------"
