// タブ1: 4ペイン構成
// タブ2: 4ペイン構成

layout {
    // デフォルトタブテンプレート
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="dev" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    name "home"
                    cwd "~"
                    command "mpd"
                    args "./.config/mpd/mpd.conf"
                }
                pane {
                    name "dotfiles"
                    cwd "~/dotfiles"
                    command "fastfetch"
                    focus true
                }
            }
            pane split_direction="horizontal" {
                pane {
                    name "data"
                    cwd "~/data"
                    command "htop"
                }
                pane {
                    name "music"
                    cwd "~/Music"
                    command "ncmpcpp"
                }
            }
        }
    }

    tab name="Developer" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    name "dev1"
                    cwd "~/Developer"
                    focus true
                }
                pane {
                    name "dev2"
                    cwd "~/Developer"
                }
            }
            pane split_direction="horizontal" {
                pane {
                    name "dev3"
                    cwd "~/Developer"
                }
                pane {
                    name "dev4"
                    cwd "~/dev/app"
                }
            }
        }
    }
}
