// タブ1: 4ペイン
// タブ2: 4ペイン
// タブ3: 2ペイン

layout {
    // デフォルトタブテンプレート
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="101" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    name "home"
                    cwd "~"
                    command "cat"
                    args "./data/cat.txt"
                }
                pane {
                    name "dotfiles"
                    cwd "~/dotfiles"
                    command "fastfetch"
                    focus true
                }
            }
            pane split_direction="horizontal" {
                pane {
                    name "ncmpcpp"
                    cwd "~/Music"
                    command "ncmpcpp"
                }
                pane {
                    name "Data"
                    cwd "~/data"
                    command "btm"
                }
            }
        }
    }

    tab name="Dev" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    name "dev1"
                    cwd "~/Developer/4life"
                    focus true
                }
                pane {
                    name "dev2"
                    cwd "~/Developer/workers"
                }
            }
            pane split_direction="horizontal" {
                pane {
                    name "dev3"
                    cwd "~/Developer/rivet"
                }
                pane {
                    name "dev4"
                    cwd "~/Developer/project"
                }
            }
        }
    }

    tab name="edit" {
        pane split_direction="vertical" {
            pane {
                name "dev"
                cwd "~/Developer"
                focus true
            }
            pane {
                name "docs"
                cwd "~/Developer/docs"
            }
        }
    }

    tab name="docker" {
        pane {
            name "lazydocker"
            cwd "~/Developer"
            command "lazydocker"
        }
    }
}
