name: Run Test install dotfiles
on:
  push:
    branches:
    - main
jobs:
  ubuntu-amd64:
    runs-on: ubuntu-24.04
    env:
      MISE_GITHUB_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
    steps:
      # 容量が厳しいのでクリーンアップ
      - name: clean space
        run: |
          df -h
          docker image prune --all --force || true
          sudo rm -rf /opt/* || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /usr/local/share/boost || true
          sudo rm -rf $AGENT_TOOLSDIRECTORY || true
          sudo apt purge -y \
            ansible* \
            aria2* \
            aspnetcore* \
            apache2* \
            azure-cli* \
            cabal* \
            clang* \
            dotnet-* \
            firefox* \
            gfortran-* \
            ghc* \
            google-chrome-stable* \
            google-cloud-sdk* \
            imagemagick* \
            javascript* \
            kubectl* \
            llvm* \
            mono* \
            moby* \
            mysql* \
            nginx* \
            node* \
            npm* \
            nuget* \
            php* \
            postgresql* \
            powershell* \
            rpm* \
            ruby* \
            sqlite3* \
            subversion \
            temurin* \
            tmux* \
            vim* \
            yarn* || true
          sudo apt-get autoremove -y >/dev/null 2>&1 || true
          sudo apt-get autoclean -y >/dev/null 2>&1 || true
          df -h
      - uses: actions/checkout@v5
      - name: make
        run: make init

  ubuntu-arm64:
    runs-on: ubuntu-24.04-arm
    env:
      MISE_GITHUB_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: make
        run: make init

  darwin:
    # runs-on: macos-latest
    runs-on: macos-26
    env:
      MISE_GITHUB_TOKEN: ${{ secrets.MISE_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: make
        run: make init

  powershell:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: MinoruSekine/setup-scoop@v4.0.1
        with:
          buckets: extras
          apps: curl make git

  windows-11-arm64:
    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v5

      # - name: Install winget
      #   uses: Cyberboss/install-winget@v1
      # - name: Install winget
      #   run: |
      #     winget install Microsoft.PowerToys

  wsl2:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v5
      - uses: Vampire/setup-wsl@v6
      - shell: wsl-bash {0}
        run: |
          # dpkg --configure -a
          # apt-get update -y
          # apt-get upgrade -y
          # apt-get autoremove -y
          # apt-get clean
          ls -al
          cat /etc/os-release || true

  lxd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: latest/edge

      - name: Launch container
        run: |
          lxc profile create dev && \
          cat cloud-init/lxd.yaml | lxc profile edit dev
          lxc launch ubuntu:24.04 ubuntu -p default -p dev
          lxc exec ubuntu -- cloud-init status --wait || true
          lxc exec ubuntu -- tail -8 /var/log/cloud-init.log
          lxc exec ubuntu -- cat /home/budybye/.ssh/authorized_keys || true
          lxc exec ubuntu -- ls -la /home/budybye/dotfiles
          lxc exec ubuntu -- echo "$SHELL"
          lxc exec ubuntu -- cat /etc/os-release
          lxc config set core.https_address :8443

  rpi:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: latest/edge

      - name: Launch container
        run: |
          lxc launch ubuntu:24.04 rpi --config=user.user-data="$(cat cloud-init/user-data)"
          lxc exec rpi -- cloud-init status --wait || true
          lxc exec rpi -- tail -8 /var/log/cloud-init.log
          lxc exec rpi -- cat /etc/os-release
          lxc config set core.https_address :8443
